---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
  getPostBySlug,
  getAllBlocksByBlockId,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostDate from '../components/PostDate.astro'
import PostUpdateDate from '../components/PostUpdateDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import PostExcerpt from '../components/PostExcerpt.astro'
import ReadMoreLink from '../components/ReadMoreLink.astro'
import Pagination from '../components/Pagination.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import styles from '../styles/blog.module.css'
import PostBody from '../components/PostBody.astro'

const startPost = await getPostBySlug('start-page')
if (!startPost) {
  throw new Error('Post not found. slug: ${slug}')
}

const [posts, rankedPosts, tags, numberOfPages, blocks] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
  getAllBlocksByBlockId(startPost.PageId),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    {
      <div class={styles.post} key={startPost.Slug}>
        <PostBody blocks={blocks} />
      </div>
    }
    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts.map((post) => (
          <div class={styles.post} key={post.Slug}>
            <PostTitle post={post} />
            <PostTags post={post} />
            <PostDate post={post} />
            <PostUpdateDate post={post} />
            <PostFeaturedImage post={post} />
            <PostExcerpt post={post} />
            <ReadMoreLink post={post} />
          </div>
        ))
      )
    }

    <footer>
      <Pagination currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>

  <div slot="aside" class={styles.aside}>
    <BlogPostsLink heading="おすすめ" posts={rankedPosts} />
    <BlogTagsLink heading="カテゴリ" tags={tags} />
  </div>
</Layout>
