---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props

let title = post.Title
---

<h2 class="post-title">
  {
    enableLink ? (
      <a href={getPostLink(post.Slug)}>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt="Post title icon" />
            {title}
          </>
        ) : (
          title
        )}
      </a>
    ) : (
      <>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt="Post title icon" />
            {title}
          </>
        ) : (
          title
        )}
      </>
    )
  }
</h2>

<style>
  .post-title {
    margin: 0, 2em;
    padding: 0.2rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: var(--fg);
    padding: 0.5em;/*文字周りの余白*/
    line-height: 1.3;/*行高*/
    vertical-align: middle;
    border-radius: 25px 25px 25px 25px;/*左側の角を丸く*/
    background: -webkit-linear-gradient(to right, #c0c0ff, #eee);
    background: linear-gradient(to right, #c0c0c8, #eee);
  }
  .post-title a {
    font-size: 1.6rem;
    color: inherit;
  }
  .post-title span,
  .post-title img {
    display: inline-block;
    margin-right: 0.2em;
  }
  .post-title span {
    font-size: 1.2em;
  }
  .post-title img {
    width: 1.3em;
    height: 1.3em;
    vertical-align: sub;
    object-fit: cover;
  }
  @media (max-width: 640px) {
    .post-title {
      font-size: 1.4rem;
    }
    .post-title a {
      font-size: 1.2rem;
    }
  }
</style>
